* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  overflow: hidden;
  background-color: #38287c;
}

.hidden {
  display: none !important;
}

.loginPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.loginPanel input {
  width: 95%;
  padding: 10px;
  color: #4c4b4b;
  font-size: 17px;
  border: 2px solid #952926;
  text-transform: capitalize;
  outline-color: transparent;
  box-sizing: border-box;
}

.loginPanel input::placeholder {
  font-size: 12px;
}

.loginPanel button {
  background-color: #d03c38;
  border-color: #952926;
  color: #fff;
  font-size: 15px;
  width: 95%;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.loginPanel button:hover {
  background-color: #952926;
}

.finishPanel, .adminPanel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.adminPanel {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.adminPanel .userList {
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
}

.adminPanel .userList span {
  color: #efefef;
  font-family: arial;
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
}

.adminPanel .userList .name {
  width: 100px;
}

.adminPanel .userList li.ready .status {
  color: #7e6bd1;
}

.adminPanel .userList li.finished .status {
  color: rgb(75, 197, 75);
}

.finishPanel button, .adminPanel button {
  outline-color: transparent;
  background-color: #fff;
  border-radius: 20px;
  border-color: red;
  font-size: 25px;
  color: #38287c;
  padding: 7px;
}

.finishPanel button:hover, .adminPanel button:hover {
  cursor: pointer;
}

.finishPanel span, .waitingPanel span {
  color: #efefef;
  font-family: arial;
  font-size: 22px;
}

.waitingPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.waitingPanel img {
  width: 30px;
}

